@media screen and (min-width: 1700px) {

    #main {
        background-size: 100%;
    }

    .slick-prev {
        left: 29%;
    }

    .slick-next {
        right: 30%;
    }

    .product-leaf-in {
        right: calc(61%);
    }
}

/*1024 - 1199*/
@media screen and (max-width: 1199px) {

    #header {
        padding: 18px 20px 0 20px;
    }

    .header_menu {
        margin-right: 0;
    }


    #choose {
        padding: 159px 20px 445px 20px;
    }

    .choose-title {
        font-size: 60px;
        max-width: 550px;
    }

    .comp-advantages {
        justify-content: space-around;
    }

    #company-products-container {
        padding-bottom: 100px;
    }

    #company-products .products {
        padding: 0 60px;
    }

    .product-leaf-under {
        bottom: 5%;
    }

    .product .product-text {
        max-width: inherit;
    }

    .outer-circle .outer-circle {
        position: relative;
    }

    .product:first-child .product-text {
        max-width: inherit;
    }

    .giftbox-product .outer-circle {
        order: 2;
        margin-right: 0;
        margin-left: 30px;
    }

    .teamix-product .product-text {
        width: inherit;
    }

    .teamix-product .tea-mix-text {
        order: 2;
    }

    .teamix-product .outer-circle {
        margin-left: 0;
        margin-right: 30px;
    }

    .accessory-product .accessory-desc-text {
        width: inherit;
    }

    .products-top, .products-bottom {
        display: block;
    }

    .product-leaf-in {
        bottom: calc(49%);
        right: calc(47%);
    }

    .product-leaf-under {
        bottom: 20%;
    }

    .teamix-product {
        margin-right: 0;
    }

    .slick-prev {
        left: 11%;
    }

    .slick-next {
        right: 13%;
    }

    #discount-box-content {
        display: flex;
        align-items: center;
        padding: 57px 37px 78px 74px;
        flex-direction: column;
    }

    #discount-box .discount-box-image img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #circle-benefit {
        width: 510px;
        height: 510px;
    }

    .benefit-tea img {
        width: 450px;
        opacity: 0.25;
    }

    .left-benefit-top {
        /* top: 50%; */
        right: -60px;
    }

    .left-middle-benefit {
        right: -64px;
        top: 0;
    }

    .right-benefit-top .benefit-outer-circle {
        display: none;
    }

    .right-benefit-middle {
        /*right: -45px;*/
        left: 0;
    }

    .right-benefit-middle .benefit-outer-circle {
        display: none;
    }

    .right-benefit-top {
        bottom: 150px;
        right: -282px;
    }

    .left-bottom-benefit {
        top: 217px;
        left: -349px;
    }

    .right-benefit-bottom {
        top: 257px;
        left: 0;
    }

    .right-benefit-bottom {
        top: 217px;
        left: -8px;
    }

    .right-benefit-bottom .benefit-outer-circle {
        display: none;
    }

    #pick-tea-content {
        justify-content: center;
    }

    #pick-tea {
        max-width: 1024px;
        padding-bottom: 180px;
    }

    #pick-tea-content .pick-tea-text {
        max-width: 714px;
        text-align: justify;
        margin-top: 15px;
    }

    .pick-tea-circle-outer {
        top: calc(38%);
        left: calc(68%);
    }

    .pick-tea-mint {
        top: calc(46%);
        left: calc(77%);
    }

    #footer-container {
        max-width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #footer-container .logo {
        margin: 0;
    }

    .footer_logo {
        margin-right: 20px;
    }

    .designer {
        margin-left: 183px;
    }

    .social_networks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .instagram, .facebook {
        margin-right: 0;
    }

    #thanks {
        width: 900px;
        height: 450px;
    }


}


/*768 - 1023*/
@media screen and (max-width: 1023px) {

    #header {
        flex-wrap: wrap;
        padding-right: 20px;
        padding-left: 20px;
        justify-content: space-between;
    }

    #burger_menu {
        display: block;
    }

    .adaptive_logo {
        display: block;
        margin: 0 auto;
    }

    #header {
        position: relative;
        /*padding-right: 0;*/
        padding-left: 0;
    }

    .header-logo_link {
        display: none;
    }

    .open_menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: 20px;
    }

    .header_menu {
        display: none;
        top: 0;
        position: fixed;
        background: rgba(221, 243, 205, 0.94);
        z-index: 10;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        /*display: flex;*/
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .close-header-menu {
        width: 40px;
    }


    .header-link {
        order: 1;
        margin-top: 15px;
        margin-right: 45px;
    }

    .header_menu .header-link {
        margin-right: 0;
    }

    #choose {
        padding: 159px 20px 300px 20px;
    }

    .choose-title {
        max-width: 400px;
    }

    .choose-description {
        font-size: 20px;
        max-width: 330px;
    }

    #company-adv-container {
        padding-bottom: 145px;
    }

    .comp-advantages {
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 25px;
    }

    .comp-advantage.outer-circle {
        margin: 20px;
    }

    .slick-next {
        top: 50%;
        right: 5%;
    }

    .slick-prev {
        top: 50%;
        left: 1%;
    }

    .left-benefit-top {
        right: -60px;
    }

    .right-benefit-top {
        bottom: 104px;
        right: -247px;
    }

    .left-middle-benefit {
        right: -100px;
        top: -49px;
    }

    .right-benefit-middle {
        left: 3px;
        top: 4px;
    }

    .left-bottom-benefit {
        top: 134px;
        left: -345px;
    }

    .right-benefit-bottom {
        top: 187px;
        left: -34px;
    }

    .benefits-floating-leaves {
        top: calc(24%);
    }

    .pick-tea-circle-outer {
        left: calc(69%);
    }

    .pick-tea-mint {
        top: calc(47%);
        left: calc(78%);
    }

    #footer {
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
    }

    .footer-plant {
        position: absolute;
        right: 77px;
        top: 0;
    }

    .designer {
        margin-left: 153px;
    }

    #footer-container {
        flex-wrap: wrap;
    }

    .footer_logo {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        margin: 0;
    }

    .footer-info {
        justify-content: space-between;
    }

    .pick-up {
        text-align: left;
        margin-right: 0;
    }

    .work-time {
        text-align: left;
    }

    .phones {
        text-align: left;
        margin: 0;
    }

    .designer_rights {
        width: 100%;
        margin-left: 0;
    }

    .designer {
        margin-left: 140px;
    }

    #order {
        padding: 60px 76px 84px 160px;
    }

    .order-plant {
        left: calc(16%);
    }

    #thanks {
        width: 700px;
        height: 400px;
    }

    #thanks .thanks-text {
        top: calc(11%);
    }


}

@media screen and (min-width: 910px) and (max-width: 1023px) {
    .slick-next {
        top: 50%;
        right: 11%;
    }

    .slick-prev {
        top: 50%;
        left: 8%;
    }
}


/*580 - 767*/
@media screen and (max-width: 767px) {
    #main {
        background-position: left;
        background-size: 300% 100%;
    }

    .open_menu {
        margin-left: 0;
    }

    #header {
        /*width: 500px;*/
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        padding-left: 20px;
    }

    .header_menu {
        justify-content: flex-start;
        width: 100%;
    }

    #header .logo {
        margin-bottom: 15px;
    }

    .header-link {
        margin: 15px;
    }

    .company-adv-title {
        margin-top: 85px;
    }

    #choose {
        margin: 0 auto;
        padding: 80px 20px 150px 20px;
        text-align: center;
    }

    .choose-title {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        max-width: 550px;
    }

    .choose-description {
        margin: 41px auto 41px auto;
        max-width: 450px;
        /*margin: 0 auto;*/
    }

    .choose-title span {
        font-size: 40px;
    }

    #tea-sorts {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        max-width: 500px;
        margin: 50px auto 10px auto;
    }

    #tea-sorts .tea-sort {
        margin: 15px 15px;
    }

    .gift-box-text .product-text-title {
        width: 222px;
    }

    .tea .tea-image img {
        width: 250px;
    }

    .teas .tea {
        padding: 20px;
    }

    .tea-description .tea-title {
        margin-bottom: 20px;
    }

    #discount-box-content {
        width: 500px;
        padding: 20px;
    }

    #discount-box .discount-box-image img {
        width: 250px;
    }

    #discount-box .discount-info .discount-info-title {
        font-size: 30px;
    }

    #discount-box .discount-info .discount-info-desc {
        font-size: 16px;
    }

    #discount-box .discount-info .discount-form-input input {
        width: 300px;
    }

    #discount-box .discount-info .discount-form-btn {
        width: 300px;
    }

    .discount-mint {
        width: 200px;
        left: -10px;
    }

    #circle-benefit {
        display: contents;
    }

    .benefit-tea {
        display: none;
    }

    .benefit {
        position: unset;
        display: flex;
        align-items: center;
        /* width: 300px; */
        /* flex-wrap: wrap; */
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px auto;
    }

    .left-benefits {
        position: unset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .right-benefits {
        position: unset;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        max-width: 600px;
        margin: 0 auto;
    }

    .benefit-text {
        width: 100%;
        position: unset;
        font-size: 18px;
        order: 2;
        text-align: center;
        margin-top: 10px;
    }

    .benefit-outer-circle {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }

    .benefit-inner-circle {
        width: 25px;
        height: 25px;
    }

    .benefit-tea img {
        width: 400px;
        opacity: 0.2;
    }

    .left-benefits .benefit-outer-circle {
        top: -30px;
        right: 28px;
    }

    .right-benefit-top .benefit-outer-circle {
        display: flex;
    }

    .right-benefit-bottom .benefit-outer-circle {
        display: flex;
    }

    .right-benefit-middle .benefit-outer-circle {
        display: flex;
    }

    .benefit-outer-circle {
        position: unset;
    }

    .right-benefits .benefit-text {
        padding-left: 18px;
    }

    .left-benefits .benefit-text {
        padding-left: 18px;
    }

    .benefit svg {
        display: none;
    }

    #pick-tea-content .pick-tea-video {
        width: 500px;
        height: 300px;
    }

    #pick-tea-content .pick-tea-text {
        max-width: 500px;
    }

    .pick-tea-circle-outer {
        left: calc(68%);
        top: calc(26%);
    }

    .pick-tea-mint {
        top: calc(34%);
        left: calc(83%);
    }

    #footer {
        background-size: cover;
    }

    .footer_logo {
        text-align: left;
    }

    .footer-info {
        justify-content: space-between;
    }

    .footer-plant {
        right: 3%;
        top: -12%;
    }

    .pick-up {
        margin-right: 0;
        text-align: left;
    }

    .work-time {
        text-align: left;
    }

    .phones {
        text-align: left;
    }

    .designer_rights {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rights {
        /*position: absolute;
        bottom: 30px;*/
        margin: 0;
    }

    .designer {
        /*position: absolute;
        bottom: 10px;
        left: 20px;*/
        margin-right: 190px;
    }

    .social_networks {
        display: flex;
        flex-direction: inherit;
        align-items: center;
        margin-top: 20px;
        position: absolute;
        right: 20px;
        top: 33%;
    }

    .social_networks a:not(:last-child) {
        margin-right: 15px;
    }

    .designer_rights {
        margin-top: 20px;
        margin-left: 0;
    }

    #order {
        padding: 20px;
    }

    .order-plant {
        left: calc(5%);
    }

    #order-form .button-mint .order-btn {
        width: 260px;
        height: 55px;
        font-size: 18px;
    }

    #order-form .button-mint .little-mint {
        width: 80px;
        height: 80px;
        top: -16px;
        right: -30px;
    }

    .order_btn {
        width: 260px;
        height: 55px;
        font-size: 18px;
    }

    .close-order {
        top: 15px;
        right: 20px;
    }

    #thanks {
        width: 500px;
        height: 350px;
    }

    #thanks .thanks-text {
        top: calc(7%);
        right: calc(6%);
    }

}


/*579-767*/
@media screen and (min-width: 579px) and (max-width: 767px) {

    .pick-tea-circle-outer {
        left: calc(59%);
        top: calc(26%);
    }

    .pick-tea-mint {
        top: calc(34%);
        left: calc(71%);
    }

    .designer {
        margin-right: 0;
    }

}



/*480 - 579*/
@media screen and (max-width: 579px) {

    #choose {
        padding: 115px 20px 100px 20px;
    }

    #burger_menu {
        display: block;
    }

    #header {
        position: relative;
    }

    .open_menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #header .logo {
        margin-bottom: 0;
    }

    #choose {
        padding: 159px 20px 100px 20px;
    }

    .adaptive_logo {
        display: block;
    }

    .header-logo_link {
        display: none;
    }

    .header_menu {
        display: none;
        top: 0;
        position: fixed;
        background: rgba(221, 243, 205, 0.94);
        z-index: 10;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }


    .products .product {
        flex-direction: column;
        text-align: center;
    }

    .product-circle:first-child {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .giftbox-product .outer-circle {
        order: 1;
        margin-left: 0;
    }

    .gift-box-text {
        order: 2;
    }

    .gift-box-text .product-text-title {
        width: inherit;
    }

    .teamix-product .outer-circle {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .accessory-product .accessory-desc-text {
        order: 1;
    }

    .product-circle:last-child {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .teas .tea {
        padding: 20px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .tea-description {
        text-align: center;
    }

    .tea .tea-image {
        margin-right: 0;
    }

    .slick-dots {
        bottom: -40px;
    }

    .slick-prev {
        left: 10%
    }

    .slick-next {
        right: 15%;
    }

    #tea-collection {
        padding-bottom: 100px;
    }

    #discount {
        overflow: hidden;
        padding-top: 50px;
    }

    .discount-mint {
        width: 190px;
    }

    #discount-box-content {
        width: 400px;
        padding: 30px 20px;
    }

    #discount-box .discount-info .discount-info-desc {
        padding: 10px 0;
    }

    #discount-box .discount-info .discount-form-input {
        margin: 20px 0 20px 0;
    }

    #discount-box .discount-info .discount-form-input input {
        padding: 15px 0;
        font-size: 18px;
    }

    #discount-box .discount-info .discount-form-btn {
        padding: 15px 0;
        font-size: 18px;
    }

    #discount-box .little-mint {
        height: 90px;
        width: 90px;
        right: -27px;
    }

    .second-title {
        font-size: 40px;
    }

    #order {
        /*background-position: 38% 51%;*/
        background-size: 292%;
        background-repeat: no-repeat;
        padding: 40px 30px;
        overflow: hidden;
    }

    .order-plant {
        left: calc(-12%);
    }

    #order-form .order-inputs {
        flex-direction: column;
        width: fit-content;
        margin: 0;
    }

    #order-content .button-mint img {
        width: 80px;
        height: 80px;
        top: 0;
        right: -24px;
    }

    #order-content .button-mint .order_btn {
        font-size: 18px;
        width: 260px;
        height: 55px;
        margin-top: 15px;
    }

    .close.close-order {
        top: 15px;
        right: 20px;
    }

    .benefit svg {
        display: none;
    }

    .benefit-tea {
        display: none;
    }

    .left-benefits {
        max-width: 450px;
    }

    .right-benefits {
        max-width: 450px;
    }

    .benefit-text {
        font-size: 18px;
        width: 100%;
        margin: 10px auto;
    }

    .right-benefits .benefit-text {
        padding: 0;
    }

    .benefits-floating-leaves {
        top: calc(20%);
    }

    #pick-tea-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .pick-tea-circle-outer {
        left: calc(69%);
        top: calc(15%);
    }

    .pick-tea-mint {
        top: calc(23%);
        left: calc(83%);
    }

    .footer-plant {
        left: 59%;
        top: 3%;
    }

    .designer {
        left: 58%;
        bottom: 30px;
    }

    #footer {
        background-size: cover;
    }

    #footer-container h3 {
        margin: 0 0 10px 0;
    }

    .footer-info {
        justify-content: space-between;
    }

    .pick-up {
        order: 1;
    }

    .work-time {
        margin-left: 0;
    }

    .phones {
        margin-left: 0;
        order: 2;
    }

    .social_networks {
        order: 4;
       position: unset;
        margin-top: 0;
        margin-right: 45px;
    }

    .designer_rights {
        order: 5;
        margin-left: 0;
        margin-right: 0;
        width: 412px;
    }

    .designer {
        margin: 0;
    }


}

/*538-578*/
@media screen and (min-width: 538px) and (max-width: 579px) {

    .pick-up {
        order: initial;
        margin-right: 15px;
    }

    .phones {
        margin-right: 15px;
    }

    .work-time {
        margin-right: 15px;
    }

    .social_networks {
       /* position: absolute;*/
        bottom: 47%;
        margin-right: 0;
    }

    .designer_rights {
        width: 100%;
    }

}

/*500-579*/
@media screen and (min-width: 500px) and (max-width: 579px) {
    .pick-tea-mint {
        top: calc(34%);
    }

    .pick-tea-circle-outer {
        top: calc(26%);
    }

}

/*480 - 499*/
@media screen and (min-width: 480px) and (max-width: 499px) {
    .pick-tea-mint {
        top: calc(33%);
    }

    .pick-tea-circle-outer {
        top: calc(24%);
    }
}

@media screen and (min-width: 420px) and (max-width: 520px) {
    #thanks {
        width: 400px;
    }

    #thanks .thanks-text {
        right: 3px;
    }
}


/*320 - 479*/
@media screen and (max-width: 479px) {


    .adaptive_logo {
        margin: 0;
    }

    #choose {
        padding: 130px 20px 100px 20px;
    }

    .choose_btn {
        font-size: 20px;
    }

    #company-adv-container {
        padding-bottom: 100px;
    }

    .company-adv-title {
        margin-top: 0;
    }

    #company-products-container {
        padding-bottom: 0;
    }

    .company-products-title {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .choose-title {
        font-size: 40px;
    }

    .choose-title span {
        font-size: 30px;
    }

    #choose .button-mint .btn_mint {
        width: 200px;
        height: 55px;
    }

    .choose-description {
        font-size: 18px;
    }

    #choose .button-mint .little-mint {
        position: absolute;
        top: -15px;
        right: -45px;
        width: 80px;
        height: 80px;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 7%;
    }

    #tea-sorts {
        flex-wrap: wrap;
    }

    #tea-sorts .tea-sort {
        margin: 10px 9px;
    }

    #order {
        padding: 40px 10px;
        background-size: unset;
        overflow: hidden;
    }

    .tea .tea-image img {
        width: 200px;
    }

    .tea-description .tea-title {
        margin-top: 20px;
    }

    .tea-button {
        padding: 13px 0;
    }

    .tea .button-mint .little-mint  {
        width: 70px;
        right: -12px;
        top: -12px;
        height: 70px;
    }

    .order-plant {
        display: none;
    }

    .close-order {
        top: 15px;
        right: 17px;
    }

    #order-content {
        width: 285px;
    }

    #order-content .second-title {
        font-size: 30px;
    }

    #order-form .tea-input input {
        width: 200px;
        padding: 10px 0 10px 20px;
        margin: 10px;
    }

    #order-form .gram-input input {
        width: 200px;
        padding: 10px 0 10px 20px;
        margin: 10px;
    }

    #order-form .name-input input {
        width: 200px;
        padding: 10px 0 10px 20px;
        margin: 10px;
    }

    #order-form .phone-input input {
        width: 200px;
        padding: 10px 0 10px 20px;
        margin: 10px;
    }

    #order .btn-mint {
        width: 205px;
    }

    #order .button-mint .little-mint {
        width: 70px;
        height: 70px;
        top: -5px;
        right: -30px;
    }

    #order-content .button-mint .order_btn {
        width: 220px;
        font-size: 16px;
        height: 39px;
        margin-top: 10px;
    }

    #discount {
        padding-bottom: 100px;
    }

    .discount-mint {
        width: 150px;
    }

    #discount-box-content {
        width: 260px;
    }

    #discount-box .discount-box-image img {
        width: 200px;
    }

    #discount-box .discount-info .discount-info-title {
        font-size: 20px;
        width: 300px;
    }

    #discount-box .discount-info .discount-info-desc {
        font-size: 14px;
    }

    #discount-box .discount-info .discount-info-desc {
        width: 250px;
        margin: 0 auto;
        font-size: 14px;
        padding: 10px 0;
    }

    #discount-box .discount-info .discount-form-input {
        margin: 10px 0 20px 0;
    }

    #discount-box .discount-info .discount-form-input input {
        width: 200px;
        padding: 15px 0;
        font-size: 14px;
    }

    #discount-box .discount-info .discount-form-btn {
        width: 200px;
        padding: 15px 0;
        font-size: 14px;
    }

    #discount-box .little-mint {
        width: 60px;
        height: 60px;
        top: -10px;
        right: -22px;
    }

    #benefits {
        padding-bottom: 60px;
    }

    #benefits h2 {
        margin-bottom: 40px;
    }

    .benefit-tea img {
        width: 280px;
    }

    .benefit {
        position: unset;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    .left-benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 250px;
        margin: 0 auto;
    }

    .right-benefits {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 250px;
        margin: 0 auto;
    }

    .benefit {
        position: unset;
        display: flex;
        align-items: center;
        margin: 10px 0;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .benefit-text {
        position: unset;
        text-align: center;
        margin-top: 10px;
    }

    .benefit-outer-circle {
        position: unset;
        width: 40px;
        height: 40px;
    }

    .benefit-text {
        order: 2;
    }

    #circle-benefit {
        display: contents;
    }

    .benefit-tea {
        display: none;
    }

    .benefits-floating-leaves {
        left: -63%;
        top: calc(37%);
    }

    #pick-tea-content .pick-tea-video {
        height: 200px;
    }

    .pick-tea-circle-outer {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        left: calc(77%);
        top: calc(30%);
    }

    .pick-tea-circle-inner {
        width: 60px;
        height: 60px;
    }

    .pick-tea-mint {
        width: 50px;
        height: 50px;
        top: calc(32%);
        left: calc(83%);
    }

    #pick-tea-content .pick-tea-text {
        font-size: 14px;
    }

    #footer {
        background-size: cover;
    }

    .designer_rights {
        margin-left: 53px;
        width: 300px;
    }

    .designer {
        padding-bottom: 0;
        bottom: 18px;
        margin-right: 0;
        margin-left: 0;
    }

    #footer-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #footer-container h3 {
        margin: 0 0 10px 0;
    }

    .footer_logo {
        margin: 0;
        text-align: center;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social_networks {
        padding-bottom: 15px;
        position: unset;
    }

    .work-time {
        text-align: center;
    }

    .pick-up {
        margin: 10px 0 0 0;
        text-align: center;
    }

    .phones {
        margin: 10px 0 0 0;
        text-align: center;
    }

    .social_networks {
        margin-right: 0;
        flex-direction: initial;
        margin-top: 10px;
        padding-bottom: 0;
    }

    .social_networks a:not(:last-child) {
        margin-right: 10px;
    }

    .designer_rights {
        margin-left: 0;
    }

    .rights {
        margin-right: 5px;
        width: 100px;
    }

    .designer {
        width: 100px;
        margin-right: 20px;
    }

    .footer-plant {
        left: 64px;
        top: -4%;
    }

    #thanks {
        width: 300px;
    }

    #thanks .thanks-text {
        width: 200px;
        text-align: center;
        justify-content: center;
        top: calc(8%);
        right: calc(8%);
    }

    .error_input {
        font-size: 14px;
    }

    #close-thanks {
        right: 15px;
        top: 15px;
    }


}


@media screen and (min-width: 375px) and (max-width: 470px) {
    .slick-prev {
        left: 8%;
    }
    .slick-next {
        right: 13%;
    }
}